// Google Font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

/***************************
         Settings
****************************/
html {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: 32px;
}

*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

$dark-blue: hsl(240, 38%, 20%);
$grayish-blue: hsl(240, 18%, 77%);

/***************************
         Responsive
****************************/
@mixin media-768 {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

/***************************
         Design start
****************************/
.container {
    background-image: url('./images/pattern-curve.svg');
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 12rem;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

    @include media-768 {
        background-size: 20rem;
    }
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 850px;
    margin: 0 auto;
    padding-bottom: 50px;

    .slide {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;

        @include media-768 {
            flex-direction: row;
            text-align: left;
            transform: scale(1.2);
        }

        .slide-text {
            margin-top: 30px;
            padding-top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            background-image: url('./images/pattern-quotes.svg');
            background-repeat: no-repeat;
            background-size: 60px;
            background-position: top center;

            @include media-768 {
                background-position: 22% top;
                background-size: 72px;
                align-items: flex-start;
            }

            .testimonial {
                font-weight: 300;
                font-size: 0.7rem;
                color: $dark-blue;

                @include media-768 {
                    font-size: 0.9rem;
                }
            }

            .author {
                margin-top: 20px;
                color: $dark-blue;
                font-size: 0.5rem;
                font-weight: 700;

                span {
                    color: $grayish-blue;
                    font-weight: 500;
                    display: block;
                }
            }
        }
    }

    .slide-img {
        width: inherit;
        height: inherit;
        margin: 0 auto;
        padding: 40px;
        background-image: url('./images/pattern-bg.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        @include media-768 {
            margin-left: -100px;
            z-index: -1;
        }

        img {
            width: 300px;
            height: inherit;

            @include media-768 {
                padding-top: 20px;
                width: 300px;
            }
        }
    }
}

.arrows {
    position: absolute;
    top: 315px;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: 45px;
    box-shadow: -20px 12px 20px 0 hsla(240, 18%, 77%, 0.52);
    border-radius: 50px;
    background-color: #fff;
    overflow: hidden;

    @include media-768 {
        width: 80px;
        height: 40px;
        top: 340px;
        transform: translate(0);
        left: calc(100% - 320px);
    }

    .arrow-left {
        left: 0;
    }

    .arrow-right {
        right: 0;
    }

    .arrow-left,
    .arrow-right {
        display: inline-block;
        width: 50%;
        height: 100%;
        position: absolute;
        cursor: pointer;
        border: none;

        &:hover {
            background-color: antiquewhite;
        }
    }

    .arrow-left::after,
    .arrow-right::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
    }
}

/***************************
        Fade Animation
****************************/
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
}

@keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
}